altgraph                 
appdirs                   
asgiref                   
beautifulsoup4            
bleach                    
bs4                       
certifi              
chardet                
click                  
colorama               
comtypes               
configparser           
crayons                
cssselect              
dateparser             
distlib                
Django                 
django-appconf         
django-avatar          
django-ckeditor        
django-crispy-forms     
django-js-asset        
docopt                 
et-xmlfile             
face-recognition-models
feedfinder2            
feedparser             
filelock                
future                  
futures               
geojson               
goslate               
gTTS                  
h11                    
h2                    
hpack                 
httpcore               
httpx                  
hyperframe            
idna                 
image                  
IMDbPY                    
JarvisAI              
jdcal                 
jieba3k                
joblib                
Js2Py                
lxml                  
markdown2             
more-itertools        
MouseInfo             
nltk                
nose                  
numpy                  
opencv-python            
openpyxl              
packaging            
pefile                    
Pillow                
pip                       
pipwin                   
playsound                
plyer                    
psutil                   
PyAudio                   
PyAutoGUI                 
PyDictionary             
PyGetWindow              
pyinstaller            
pyinstaller-hooks-contrib 
pyjokes                 
pyjsparser              
PyJWT                   
pymongo                  
PyMsgBox                
pyowm                    
pyparsing               
PyPDF2                   
pyperclip               
pypiwin32             
PyPrind                  
PyQRCode                
PyQt5                     
PyQt5-sip                 
PyQtWebEngine             
PyRect                   
PyScreeze                 
pySmartDL                
PySocks                  
pytchat                  
python-dateutil          
python-decouple        
pyttsx3                 
PyTweening               
pytz                      
pywhatkit              
pywikihow                 
pywin32           
pywin32-ctypes            
PyYAML                    
qrcode            
regex                    
requests             
requests-cache            
requests-file             
rfc3986                   
ruamel.yaml           
ruamel.yaml.clib          
selenium                  
setuptools      
sgmllib3k                 
six                      
sniffio             
soupsieve         
SpeechRecognition         
SQLAlchemy               
sqlparse                  
tinysegmenter     
tldextract                
tqdm                     
twilio                   
tzlocal                   
urllib3                  
vidstream                
virtualenv                
webdriver-manager         
webencodings              
wikipedia                 
win10toast                
wolframalpha              
xmltodict                 